<html lang="en">

<!-- HEAD OF WEBPAGE-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<!--  BODY OF WEBPAGE-->
<body style="background: url(https://cdn11.bigcommerce.com/s-c1tzcg0txe/images/stencil/500x659/products/3652/2091/ozonepark_2460_1400448186__18521.1490639038.jpg?c=2)">

<div style="min-height:8vh"></div>
<div class="forms">
  <div>
    <%= form_tag piles_button_press_path, :class => 'form' %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label :pile, :visible, 'Select the pile to switch visibility.' %>
    <%= select :pile, :visible, Pile.all.where.not(pile_type: 'hand').collect { |pile| [pile.Name] } %>
    <%= submit_tag "Change Visibility", name: 'change_visibility' %>
  </div>
  <div>
    <%= form_tag piles_button_press_path, :class => 'form' %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label :pile, :deck_from, 'Move card from ' %>
    <%= select :pile, :deck_from, Pile.all.where.not(pile_type: 'hand').collect { |pile| [pile.Name] } %>
    <%= label :pile, :deck_to, ' to ' %>
    <%= select :pile, :deck_to, Pile.all.collect { |pile| [pile.Name] } %>
    <%= submit_tag "Move Top Card", name: 'move_card' %>
  </div>
  <div>
    <%= form_tag piles_button_press_path, :class => 'form' %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label :pile, :card_selected, 'Move card ' %>
    <%= select :pile, :card_selected, Pile.find_by(pile_type: 'hand').cards.collect { |card| [card.image] } %>
    <%= label :pile, :pile_to, ' to ' %>
    <%= select :pile, :pile_to, Pile.all.collect { |pile| [pile.Name] } %>
    <%= submit_tag "Move Card From Hand", name: 'move_card_from_hand' %>
  </div>
  <div>
    <%= form_tag piles_button_press_path, :class => 'form' %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= label :pile, :shuffle_pile, 'Pile to Shuffle ' %>
    <%= select :pile, :shuffle_pile, Pile.all.where.not(pile_type: 'hand').collect { |pile| [pile.Name] } %>
    <%= submit_tag "Shuffle", name: 'shuffle_cards' %>
  </div>
</div>
<div style="min-height:8vh"></div>

<div class="piles_container">
  <h2>Decks</h2>
  <div class="piles">
    <% Pile.where(pile_type: 'deck').each do |deck| %>
      <% if deck.visible && !deck.cards.first.nil? %>
        <div class="pile" style="background-image: url(<%= image_url(deck.cards.order("position DESC").first.image) %>); background-repeat: no-repeat;">
          <div style="padding: 25px">
            <div style="background: #000000; border-radius: 5px"><%= deck.Name %></div>
          </div>
        </div>
        <!-- DECK VISIBLE ELSE OPTION -->
      <% else %>
        <div class="pile" style="background-image: url(<%= image_url('red_back.png') %>); background-repeat: no-repeat;">
          <div style="padding: 25px">
            <div style="background: #000000; border-radius: 5px"><%= deck.Name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!--DISCARD PILES SECTION-->

<div style="min-height:8vh"></div>

<div class=piles_container>
  <h2>Discard Piles</h2>
  <div class="piles">
    <% Pile.where(pile_type: 'sink').each do |sink| %>
      <% if sink.visible && !sink.cards.first.nil? %>
        <div class="pile" style="background-image: url(<%= image_url(sink.cards.order("position DESC").first.image) %>); background-repeat: no-repeat;">
          <div style="padding: 25px">
            <div style="background: #000000; border-radius: 5px"><%= sink.Name %></div>
          </div>
        </div>
        <!-- DISCARD VISIBLE ELSE OPTION -->
      <% else %>
        <div class="pile" style="background-image: url(<%= image_url('red_back.png') %>); background-repeat: no-repeat;">
          <div style="padding: 25px">
            <div style="background: #000000; border-radius: 5px"><%= sink.Name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div style="min-height:8vh"></div>

<div class="piles_container">
  <h2>Player Hand</h2>
  <div class="piles">
    <% Pile.where(pile_type: 'hand').each do |hand| %>
      <!-- TODO: an if statement that will only show the player's hand that has the current session_token to match.-->
      <% hand.cards.each do |card| %>
        <div class="pile" style="background-image: url(<%= image_url(card.image) %>); background-repeat: no-repeat;">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</body>
</html>


<!-- Citing: https://stackoverflow.com/questions/53394403/html-png-background
             https://www.webucator.com/how-to/how-create-boxes-with-rounded-corners-css.cfm
             https://stackoverflow.com/questions/40690282/is-div-style-width-height-background-css
             https://www.w3schools.com/howto/howto_css_dropdown.asp



Use View Port (vh, vw) come from the complete page, but use % for the % of the parent element.
