<p id="notice"><%= notice %></p>

<h1>Piles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piles.each do |pile| %>
      <tr>
        <td><%= link_to 'Show', pile %></td>
        <td><%= link_to 'Edit', edit_pile_path(pile) %></td>
        <td><%= link_to 'Destroy', pile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pile', new_pile_path %>
