<!DOCTYPE html>
<html>
  <head>
    <title>SaasCardservice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <h1 class="title">Team 6 Card Service Application</h1>
    </div>


    <%= yield %>
  </body>
</html>
